* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
  }
body {
    background-color: #1c1c1d
}

.subscription-page {
    background: linear-gradient(to right, #db219a, #180e3f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.subscription-box {
    background: linear-gradient(to bottom right, #540535,#360934, #160f37,#24161f, #4b1931);
   
    padding: 20px;
    margin: 5% auto; /* Add this to center the box horizontally */
    max-width: 600px; /* Adjust the value as per your desired width */
    transition: background 0.3s ease-in-out;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.subscription-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 10px;
}

.subscription-table th, .subscription-table td {
    padding: 10px;
    text-align: center;
}

.subscription-table th {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    color: #e7cce2;
    font-weight: bold;
}

.subscription-table td {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    color: #e7cce2;
}

.subscription-table th:first-child, .subscription-table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.subscription-table th:last-child, .subscription-table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}



.selection-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.small-box {
    width: 30%;
    height: 100px;
    background-color: #191819;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 1%;
    padding-right: 1%;
}

.small-box.selected {
    background-color: #c21b98;
    color: #fff;
}


.subscription-table th.selected,
.subscription-table td.selected {
    background-color: #c21b98; /* Change this to the desired color for the selected column */
    /* Add any other styles you want for the selected column */
}


.header {
    background-color: #993399; /* Set the background color of the header */
    padding: 20px;
    text-align: center;
}

.profile-photo {
    width: 100%;
    height: 100px;
    background-color: #fff;
    margin: 20px auto;
}

.plan-selection {
    
    background: linear-gradient(to bottom right, #540535,#360934, #160f37,#24161f, #4b1931);
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    margin: 0 auto; /* Add this to center the box horizontally */
    max-width: 600px; /* Adjust the value as per your desired width */
    transition: background 0.3s ease-in-out;
}

.plan-box {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    display: inline-block;

}

.content {
    background: linear-gradient(to bottom right, #5b0737,#580e2e, #5f152b);
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto; /* Add this to center the box horizontally */
    max-width: 600px; /* Adjust the value as per your desired width */
    transition: background 0.3s ease-in-out;
    color:#dbbbc6 ;
}
.crown-icon {
    font-size: 20px; /* Adjust the size of the crown icon */
    margin-right: 10px; /* Add some spacing between the icon and the text */
  }

.app-name {
    float: left;
}

.premium-button {
    float: right;
    background-color: #c21b98; /* Set the background color of the premium button */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

th {
    text-align: left;
}


.tacbox {
    display:block;
    padding: 1em;
    margin: 2em;
    max-width: 800px;
  }
  
  input {
    height: 2em;
    width: 2em;
    vertical-align: middle;
  }

  .subscription-page h1 {
    color: #8c1c68;
  }
  
  .subscription-page p {
    color: #8c1c68;
  }

  th.selected {
    position: relative;
  }
  
  th.selected:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 1;
    z-index: -1;
    border-radius: 50px;
  }

  

  .btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    margin: 0 auto;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-color:  #c21b98;
}
.subscription-payment
{
    display: flex;
  justify-content: center;
  align-items: center;
}