{% extends "artist/base_without_nav.html" %}
{% block content %}
    <div class="header">
        <h1>User Dashboard</h1>
        
    </div>
    <br>
    <div class="plan-selection">
        <div class='selection-box'>
            <div class="plan-box"></div>
            <div class="plan-box"></div>
            <div class="plan-box"></div>
        </div>
        <div class="content">
            <div class="app-name">CASTOONN</div>
            <button class="premium-button"><span class="crown-icon">&#x1F451;</span>Upgrade to Premium</button>
            <table>
                <tr>
                    <th>What You Get</th>
                    <th>Selected Plan</th>
                </tr>
                <tr>
                    <td>Feature 1</td>
                    <td>✓</td>
                </tr>
                <tr>
                    <td>Feature 2</td>
                    <td>✗</td>
                </tr>
                <tr>
                    <td>Feature 3</td>
                    <td>✓</td>
                </tr>
            </table>
        </div>
    </div>
   


{% endblock %}