{% extends 'index/base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
            <div class="card-body">
                <h4 class="card-title mb-4">Reset Password</h4>
                {% if messages %}
    {% for message in messages %}
    <div id = "message" class="container">
    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden = "true">&times;</span></button>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
        {{ message }}
    </div>
</div>
    {% endfor %}
{% endif %}
                {% comment %} {% include 'includes/alerts.html' %} {% endcomment %}
          <form action = "{% url 'resetPassword' %}" method = 'POST'>
            {% csrf_token %}
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Create Password" name='password'>
              </div> <!-- form-group// -->
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" name='confirm_password'>
              </div> <!-- form-group// -->
           
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Reset  </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">Don't have account? <a href="{% url 'user_type' %}">Sign up</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}